{% extends 'base.html' %}

{% block title %}Адмін{% endblock %}

{% block content %}
    <div class="container">
        {% include 'flash_messages.html' %}
        <div class="form-header">Залишок в системі</div>
        <form method="POST" action="/set_budget">
            <input type="number" id="limit" name="general_budget" required step="0.01">
            <button type="submit" class="button">Надіслати залишок 🚀</button>
        </form>

        <form method="POST" action="/reset_all_limits">
            <div class="form-header">Обнулення ліміту</div>
            <button type="submit" class="button">Обнулити всі ліміти</button>
        </form>

        <table id="idbudgetTable">
            <thead>
                <tr>
                    <th>Заявник</th>
                    <th>Бюджет</th>
                </tr>
            </thead>
            <tbody>
                {% for user in daily_user_budget %}
                <tr>
                    <td>{{ user.declarant }}</td>
                    <td>{{ '{:,.2f}'.format(user.budget) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <form method="POST" action="/reset_user_limit">
            <div class="input-container">
                <label for="applicant">Заявник:</label>
                <input type="text" id="applicant" name="declarant" placeholder="Заявник" readonly required>
            </div>
            <button class="button">Обнулити ліміт</button>
        </form>
    </div>
{% endblock %}

