<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Для керівника</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <!-- navbar -->
    {% include 'header.html' %}

    {% block body %}
    {% include 'flash_messages.html' %}
    <div class="form-container">
        <div class="form-header">Залишок в системі</div>
        <input type="text" id="limit" value="{{general_budget}}" readonly>
        <table id="idbudgetTable">
            <thead>
                <tr>
                    <th>Заявник</th>
                    <th>Бюджет</th>
                </tr>
            </thead>
            <tbody>
                {% for user in daily_user_budget %}
                <tr>
                    <td>{{ user.declarant }}</td>
                    <td>{{ '{:,.2f}'.format(user.budget) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <form method="POST" action="/change_budget">
            <div class="input-container">
                <label for="applicant">Заявник:</label>
                <input type="text" id="applicant" name="declarant" placeholder="Заявник" readonly required>
                <label for="budget">Бюджет:</label>
                <input type="number" id="budget" name="required_budget" placeholder="Бюджет" required step="0.01">
            </div>

            <button type="submit" class="button">Змінити бюджет</button>
        </form>
    </div>
    
    <!-- Script for select row and plug in forms in table -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <div class="requests-container">
        <h3>Заявки</h3>
        <div id="requests-list">
            {% if taxes %}
            {% for tax in taxes %}
                {% if tax.typetx == 'На оплату' %}
                    {% include 'tax_card.html' %}
                {% elif tax.typetx == 'Зміна ліміту' %}
                <div class="request-card">
                    <p><strong>Тип:</strong> Зміна ліміту</p>
                    <p><strong>Час створення:</strong> {{tax.time}}</p>
                    <p><strong>Кому:</strong> {{tax.declarant}}</p>
                    <p><strong>Бажаний ліміт:</strong> {{tax.amount}}</p>
                {% endif %}
                    <div class="button-container">
                        <form method="POST" action="/approve_tax">
                            <input type="hidden" name="request_id" value="{{ tax.id }}">
                            <button type="submit" class="approve-btn">✔️</button>
                        </form>
                        <form method="POST" action="/reject_tax">
                            <input type="hidden" name="request_id" value="{{ tax.id }}">
                            <button type="submit" class="reject-btn">❌</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
            {% else %}
            <h5 style="text-align: center;">Нові заявки відсутні!</h5>
            {% endif %}
        </div>
    </div>
    {% endblock %}
</body>
</html>